
networks:
  mynetwork:
    external: true
    name: mynetwork

services:
  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - mynetwork
  mybackend:
    image: backend:v5
    ports:
      - "3000:8080"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - mynetwork 
    command: 
      ["./server" ]


  myfrontend:
    image: frontend:v5
    ports:
      - "5000:5000"
    networks:
      - mynetwork 
    # environment:
    #   - REACT_APP_BACKEND_URL=http://localhost:3000
    command: 
      ['serve', '-s', '-l', '5000', 'build']
