services:
  mybackend:
    image:
    ports:
      - 3000: 8080
    environment:
      - REQUEST_ORIGIN=http://localhost:5000
    command: 
      server

  myfrontend:
    image:
    ports:
      5000:5000
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:3000
    command: 
      ['server', '-s', '-l', '5000', 'build']
